<header class="sticky top-0 z-30 bg-cream/80 backdrop-blur-md border-b border-gray-100/80 px-4 sm:px-6 py-3.5 transition-all">
  <div class="max-w-7xl mx-auto flex items-center justify-between">
    
    <a 
      routerLink="/marketplace" 
      class="flex items-center gap-2 group transition-all active:scale-95">

      <div class="flex items-baseline tracking-tight">
        <span class="text-2xl font-extrabold text-dark tracking-tighter">Barna</span>
        <span class="text-2xl font-black text-terracota ml-0.5">Space</span>
      </div>
    </a>

    <app-marketplace-nav-menu />

  </div>
</header>